@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  min-height: 100vh;
  background: rgb(228, 216, 208);
  padding-bottom: 100px;
}

h1 {
  font-family: "Fredoka One", cursive;
  font-size: 34px;
  color: rgb(59, 59, 59);
  text-align: center;
}

button {
  margin: 1rem;
  background-color: #386641;
  font-size: 16px;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px darkgray;
  color: whitesmoke;
  text-transform: uppercase;
}

.buttonArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#count,
p {
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  text-align: center;
  color: rgb(59, 59, 59);
}

.gridWrapper {
  margin: 2rem;
}

img {
  width: 60px;
  height: auto;
  padding: 5px;
}
